// COLOURS

$color-primary-light: #F5F5F5; // whitesmoke
$color-primary-dark: #333; // dark grey

$color-green: #b7c393; // caper green
$color-pink: #ffb6c1; // light pink

$color-black: #000;
$color-white: #fff;

// FONT
$font-logo: 'Sacramento', cursive;
$font-default: 'Roboto', sans-serif;
$font-size-default: 1.6rem; /* 16px, used across the website */
