header {
    width: inherit;
    margin: 0 auto;

    @include respond(tablet-portrait) {
        margin-bottom: 2rem;
    }
}

.logo {

    &__icon {
        width: 30%;

        @include respond(tablet-portrait) {
            width: 15rem;
        }

        @include respond(tablet-landscape) {
            width: 15rem;
        }

        @include respond(desktop) {
            width: 15rem;
            margin-bottom: 2rem;
        }

        @include respond(desktop-big) {
            width: 15rem;
            margin-bottom: 2rem;
        }
    }

    &__caption {
        margin-top: 1rem;
    }

    &__link {
        text-decoration: none;
        color: $color-primary-light;
    }
}
