.navigation {

    &__quick-nav {
        display: flex;
        justify-content: space-between;

        @include respond(desktop) {
            justify-content: flex-end;
            margin-bottom: 2rem;
        }
    }

    &__burger-menu {
        font-size: 4rem;
        color: $color-green;
        margin-left: 1rem;
        cursor: pointer;

        @include respond(desktop) {
            display: none;
        }
    }

    &__container {
        position: fixed;
        top: 0;
        left: 0;
        background-color: $color-green;
        width: 100vw;
        height: 100vh;
        z-index: 5000;

        /* The left-to-right sliding effect */
        transform: translate(-100vw, 0);
        transition: transform .8s cubic-bezier(0, .52, 0, 1);

        @include respond(desktop) {
            position: static;
            background-color: $color-primary-dark;
            width: 100%;
            height: 10%;
            transform: translate(0, 0);
            transition: none;
        }
    }

    &__container--visible {
        transform: translate(0vw, 0);
    }

    &__exit-button-container {
        height: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4rem;

        @include respond(desktop) {
            display: none;
        }
    }

    &__exit-button {
        font-size: 4.5rem;
        color: #444;
        cursor: pointer;
        margin-top: -4rem;
        margin-right: -1rem;
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        height: 60%;
        padding: 5% 0;

        @include respond(desktop) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-primary-dark;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 2rem;
        cursor: pointer;

        @include respond(desktop) {
            transition: .7s;
            border-bottom: 1px solid transparent;
            padding-bottom: 3px;
        }

        &:hover {

            @include respond(desktop) {
                border-bottom: 1px solid $color-green;
            }
        }

        &:active {
            color: $color-green;
        }

        @include respond(desktop) {
            color: $color-green;
        }
    }

    &__link--current {
        text-decoration: none;
        color: $color-primary-light;
        font-size: 2.1rem;
        letter-spacing: 4px;
    }
}
