<nav id="navigation" class="navigation u-margin-bottom-medium">
    <div class="navigation__quick-nav">
        <i id="burger-menu" class="fas fa-bars navigation__burger-menu"></i>

        <div class="shopping-basket u-center-text">
            <a href="/basket"><i class="fas fa-shopping-basket shopping-basket__icon"></i></a>

            <span class="shopping-basket__counter" id="basket-counter"><%= basketSize %> </span>
        </div>
    </div>

    <div id="navigation-container" class="navigation__container">
        <div class="navigation__exit-button-container">
            <i id="exit-button" class="far fa-times-circle navigation__exit-button"></i>
        </div>

        <ul class="navigation__links u-center-text">
            <!--
                If we're on any other page than the Food Menu,
                make the Food Menu linkable
            -->
            <li class="navigation__item">
                <% if (content === "food") { %>
                    <span class="navigation__link--current">
                <% } else { %>
                    <a href="/menu/food" class="navigation__link">
                <% } %>

                    Menu

                <% if (content === "food") { %>
                    </span>
                <% } else { %>
                    </a>
                <% } %>
            </li>

            <li class="navigation__item">
                <% if (content === "drinks") { %>
                    <span class="navigation__link--current">
                <% } else { %>
                    <a href="/menu/drinks" class="navigation__link">
                <% } %>

                    Drinks

                <% if (content === "drinks") { %>
                    </span>
                <% } else { %>
                    </a>
                <% } %>
            </li>

            <li class="navigation__item">
                <% if (content === "about-us") { %>
                    <span class="navigation__link--current">
                <% } else { %>
                    <a href="/about-us" class="navigation__link">
                <% } %>

                    About Us

                <% if (content === "about-us") { %>
                    </span>
                <% } else { %>
                    </a>
                <% } %>
            </li>

            <li class="navigation__item">
                <% if (content === "contact-us") { %>
                    <span class="navigation__link--current">
                <% } else { %>
                    <a href="/contact-us" class="navigation__link">
                <% } %>

                    Contact Us

                <% if (content === "contact-us") { %>
                    </span>
                <% } else { %>
                    </a>
                <% } %>
            </li>

            <li class="navigation__item">
                <% if (content === "basket") { %>
                    <span class="navigation__link--current">
                <% } else { %>
                    <a href="/basket" class="navigation__link">
                <% } %>

                    Basket

                <% if (content === "basket") { %>
                    </span>
                <% } else { %>
                    </a>
                <% } %>
            </li>
        </ul>
    </div>
</nav>
