<div class="about">
    <h1 class="u-center-text u-margin-bottom-medium">About This App</h1>

    <div class="about__text u-margin-bottom-small">This app was created by
        <span class="about__owner">
            <a href="https://petra-jakobcic.herokuapp.com/" class="about__link">Petra Jakobcic</a>
        </span>
        using the following tools:
    </div>

    <div class="u-margin-bottom-medium">
        <h3 class="u-margin-bottom-small">Back-end:</h3>
        <ul>
            <li>
                <h4 class="coloured">NodeJS</h4>

                <ul>
                    <li class="indented">NPM packages: ejs, express, express-session, session-file-store, node-sass, nodemon</li>
                    <li class="indented">Express</li>
                    <li class="indented">EJS templating</li>
                </ul>
            </li>

            <li class="coloured"><h4>Sessions</h4></li>
        </ul>
    </div>

    <div class="u-margin-bottom-medium">
        <h3 class="u-margin-bottom-small">Front-end:</h3>
        <ul>
            <li>
                <h4 class="coloured">HTML</h4>

                <ul>
                    <li class="indented">Semantic elements</li>
                </ul>
            </li>

            <li>
                <h4 class="coloured">CSS</h4>

                <ul>
                    <li class="indented">Responsive mobile-first design</li>
                    <li class="indented">Sass</li>
                    <li class="indented">Flexbox &amp; grid</li>
                    <li class="indented">Transitions &amp; transforms</li>
                    <li class="indented">Media queries</li>
                    <li class="indented">
                        <strong>B</strong>lock
                        <strong>E</strong>lement
                        <strong>M</strong>odifier
                        methodology
                    </li>
                </ul>
            </li>

            <li>
                <h4 class="coloured">JavaScript</h4>

                <ul>
                    <li class="indented">AJAX</li>
                    <li class="indented">Objects</li>
                    <li class="indented">Events</li>
                    <li class="indented">DOM manipulation</li>
                    <li class="indented">Pure functions</li>
                    <li class="indented">Doc-block annotations</li>
                </ul>
            </li>

            <li><h4 class="coloured">Project wireframing (Balsamiq)</h4></li>
        </ul>
    </div>

    <div class="">
        <h3 class="u-margin-bottom-small">Workflow:</h3>

        <ul>
            <li>Visual Studio Code</li>
            <li>Git version control</li>
            <li>Bitbucket</li>
            <li>Trello</li>
            <li>Bash command line</li>
            <li>Markdown for readme files</li>
            <li>Postman HTTP client</li>
            <li>Heroku deployment</li>
        </ul>
    </div>

    <div class="">
        <p>The images used in this project were downloaded from <a href="https://unsplash.com/">Unsplash</a>.</p>
    </div>
</div>
