<h1 class="basket-heading u-center-text u-margin-bottom-medium">Your Basket</h1>

<!-- Output the contents of the basket -->
<!-- Make a loop to iterate over the items -->

<div class="basket u-margin-bottom-medium">
    <% for (let i in items) { %>
        <% let currentItem = items[i] %>

        <div id="product-<%= currentItem.id %>" class="item u-margin-bottom-big">
            <div class="item__image-container">
                <% if (currentItem.image) { %>
                    <img
                        class="item__image"
                        src="<%= currentItem.image %>"
                        alt="<%= currentItem.alt %>"
                    />
                <% } else { %>
                    <!-- Display the drink icon -->
                    <div class="item__image-drink">
                        <% if (currentItem.category === "soft drinks") { %>
                            <i class="item__drink-icon fas fa-glass-whiskey"></i>
                        <% } %>

                        <% if (currentItem.category === "smoothies") { %>
                            <i class="item__drink-icon fas fa-cocktail"></i>
                        <% } %>

                        <% if (currentItem.category === "beer") { %>
                            <i class="item__drink-icon fas fa-beer"></i>
                        <% } %>

                        <% if (currentItem.category === "coffee") { %>
                            <i class="item__drink-icon fas fa-mug-hot"></i>
                        <% } %>
                    </div>
                <% } %>
            </div>

            <div class="item__details">
                <span class="item__name"><%= currentItem.name %></span>

                <div>
                    &pound;
                    <span
                        id="price-<%= currentItem.id %>"
                        class="item__price"
                    >
                        <%= penceToPounds(currentItem.price) %>
                    </span>
                </div>

                <div class="item__quantity-options">
                    <button
                        id="<%= currentItem.id %>"
                        class="button button__product-subtract"
                        data-product-remove
                    >
                        &minus;
                    </button>

                    <span
                        id="quantity-<%= currentItem.id %>"
                        class="product__quantity"
                    >
                        <%= currentItem.quantity %>
                    </span>

                    <button
                        id="<%= currentItem.id %>"
                        class="button button__product-add"
                        data-product-add
                    >
                        &plus;
                    </button>
                </div>
            </div>
        </div>
    <% } %>
</div>

<div class="total-price u-margin-bottom-medium">
    <p class="total-price__caption u-margin-bottom-small">TOTAL PRICE:</p>
    <div class="total-price__amount">
        <span class="total-price__pound-symbol">&pound;</span>
        <span id="total-price" class="total-price__amount"><%= penceToPounds(totalPrice) %></p>
    </div>
</div>

<div class="u-center-text">
    <a href="/checkout" class="checkout-link">Go to payment &rarr;</a>
</div>

<script src="/js/utilityFunctions.js"></script>
<script src="/js/basketPage.js"></script>
