<div class="section-checkout">

    <h1 class="u-margin-bottom-medium u-center-text">Checkout</h1>

    <!-- Output the contents of the basket -->
    <!-- Make a loop to iterate over the items -->
    <div class="basket u-margin-bottom-medium">
        <% for (let i in items) { %>
            <% let currentItem = items[i] %>

            <div id="product-<%= currentItem.id %>" class="basket__item u-margin-bottom-small">
                <span class="basket__item-name"><%= currentItem.name %></span>

                <div class="basket__item-details">
                    &pound;
                    <span class="basket__item-price" id="price-<%= currentItem.id %>"><%= penceToPounds(currentItem.price) %></span>

                    &times;
                    <span class="basket__item-quantity" id="quantity-<%= currentItem.id %>"><%= currentItem.quantity %></span>
                </div>
            </div>
        <% } %>
    </div>

    <!-- Total price -->
    <!-- <div class="u-margin-bottom-medium">
        <p>TOTAL PRICE:</p>
        &pound;<span id="total-price"><%= penceToPounds(totalPrice) %></span>
    </div> -->

    <div class="total-price u-margin-bottom-medium">
        <p class="total-price__caption u-margin-bottom-small">TOTAL PRICE:</p>
        <div class="total-price__amount">
            <span class="total-price__pound-symbol">&pound;</span>
            <span id="total-price" class="total-price__amount"><%= penceToPounds(totalPrice) %></p>
        </div>
    </div>

    <!-- The 'Checkout' Form -->
    <form method="POST" action="/checkout" class="form" id="form-checkout">
        <div class="delivery-info u-margin-bottom-medium">
            <h3 class="u-margin-bottom-medium u-center-text">Delivery information</h3>

            <div class="form__data u-margin-bottom-medium">
                <label for="name" class="form__label u-margin-bottom-small u-margin-bottom-small">Contact name:</label>
                <input type="text" id="contact-name" class="form__input" placeholder="Full Name" name="full-name" />

                <div id="errors-name"></div>
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="phone" class="form__label u-margin-bottom-small">Contact phone number:</label>
                <input type="text" id="contact-phone" class="form__input" placeholder="Phone number" name="phone" />

                <div id="errors-phone"></div>
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="email" class="form__label u-margin-bottom-small">Contact e-mail address:</label>
                <input type="text" id="contact-email" class="form__input" placeholder="E-mail" name="email" />

                <div id="errors-email"></div>
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="delivery-address" class="form__label u-margin-bottom-small">Delivery address:</label>
                <input type="text" id="delivery-address" class="form__input" placeholder="Delivery address" name="delivery-address" />
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="delivery-postcode" class="form__label u-margin-bottom-small">Delivery postcode:</label>
                <input type="text" id="delivery-postcode" class="form__input" placeholder="Delivery postcode" name="delivery-postcode" />
            </div>
        </div>

        <div class="billing-info u-margin-bottom-medium">
            <h3 class="u-margin-bottom-medium u-center-text">Billing information</h3>

            <div class="form__data u-margin-bottom-medium">
                <label for="cardholder-name" class="form__label u-margin-bottom-small">Cardholder name:</label>
                <input type="text" id="cardholder-name" class="form__input" placeholder="Cardholder name" name="cardholder-name" />

                <div id="errors-cardholder-name"></div>
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="billing-address" class="form__label u-margin-bottom-small">Billing address:</label>
                <input type="text" id="billing-address" class="form__input" placeholder="Billing address" name="billing-address" />
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="billing-postcode" class="form__label u-margin-bottom-small">Billing postcode:</label>
                <input type="text" id="billing-postcode" class="form__input" placeholder="Billing postcode" name="billing-postcode" />
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="card-number" class="form__label u-margin-bottom-small">Card number:</label>
                <input type="text" id="card-number" class="form__input" placeholder="Card number" name="card-number" />

                <div id="errors-card-number"></div>
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="card-type" class="form__label u-margin-bottom-small">Card type:</label>
                <input type="text" id="card-type" class="form__input" placeholder="Card type" name="card-type" />
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="expiry-date" class="form__label u-margin-bottom-small">Expiry date:</label>
                <input type="date" id="expiry-date" class="form__input form__expiry-date" placeholder="Expiry date" name="expiry-date" />
            </div>

            <div class="form__data u-margin-bottom-medium">
                <label for="security-code" class="form__label u-margin-bottom-small">Card security code:</label>
                <input type="text" id="security-code" class="form__input" placeholder="Security code" name="security-code" />
            </div>
        </div>

        <div class="form__button-wrap">
            <button form="form-checkout" type="submit" class="button form__button">Pay now</button>
        </div>
    </form>
</div>

<script src="/js/checkoutFormValidation.js"></script>
