<div class="section-contact-us">
    <h1 class=" u-center-text u-margin-bottom-medium">Contact Us</h1>

    <!-- The 'Contact Us' Form -->
    <form method="POST" action="/contact-us" class="form" id="form-contact">
        <div class="form__data u-margin-bottom-medium">
            <label for="first-name" class="form__label u-margin-bottom-small">First Name:</label>
            <input type="text" class="form__input" id="first-name" placeholder="First name" name="first-name" />

            <div id="errors-firstname"></div>
        </div>

        <div class="form__data u-margin-bottom-medium">
            <label for="last-name" class="form__label u-margin-bottom-small">Last Name:</label>
            <input type="text" class="form__input" id="last-name" placeholder="Last name" name="last-name" />

            <div id="errors-lastname"></div>
        </div>

        <div class="form__data u-margin-bottom-medium">
            <label for="phone" class="form__label u-margin-bottom-small">Your Phone Number:</label>
            <input type="text" class="form__input" id="phone" placeholder="Phone number" name="phone" />

            <div id="errors-phone"></div>
        </div>

        <div class="form__data u-margin-bottom-medium">
            <label for="email" class="form__label u-margin-bottom-small">Your E-mail:</label>
            <input type="text" class="form__input" id="email" placeholder="E-mail" name="email" />

            <div id="errors-email"></div>
        </div>

        <div class="form__data u-margin-bottom-medium">
            <label for="message" class="form__label u-margin-bottom-small">Your Message:</label>
            <textarea class="form__textarea" id="message" name="message" maxlength="250" cols="30" rows="10" placeholder="Type your message here..."></textarea>
        </div>

        <div class="form__button-wrap">
            <button form="form-contact" type="submit" class="button form__button u-margin-bottom-medium">Submit</button>
        </div>
    </form>

    <div class="info">
        <p class="u-margin-bottom-small info__caption">Call us at:</p>
        <p class="u-margin-bottom-medium info__detail"><%= noodlemaniaPhoneNumber %></p>

        <p class="u-margin-bottom-small info__caption">Visit us here:</p>
        <p class="u-margin-bottom-medium info__detail"><%= noodlemaniaAddress %></p>
    </div>

    <!-- Google map -->
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.100839134453!2d-3.1525636835422324!3d51.4930169796328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDI5JzM0LjkiTiAzwrAwOScwMS40Ilc!5e0!3m2!1sen!2suk!4v1610283655258!5m2!1sen!2suk" title="Map" width="100%" height="250" style="border:none;"></iframe>
    </div>
</div>

<script src="/js/contactFormValidation.js"></script>
