<div class="section-drinks">
    <h1 class="drinks-heading u-center-text u-margin-bottom-medium">Drinks</h1>

    <!-- Soft Drinks -->
    <div class="soft-drinks u-margin-bottom-medium">
        <figure class="soft-drinks__figure">
            <img src="/images/soft-drinks.jpg" class="soft-drinks__image" alt="Soft drinks image">

            <figcaption class="soft-drinks__heading u-center-text u-margin-bottom-medium">Soft Drinks</figcaption>
        </figure>

        <table class="drinks">
            <% for (let i = 0; i < softDrinks.length; i++) { %>
                <% let currentSoftDrink = softDrinks[i] %>

                <tr class="drinks__item">
                    <td class="drinks__name"><%= currentSoftDrink.name %></td>

                    <td class="drinks__price">&pound;<%= penceToPounds(currentSoftDrink.price) %></td>

                    <td class="drinks__action">
                        <button
                            id="<%= currentSoftDrink.id %>"
                            class="button button__product-add"
                            data-product-add
                        >
                            Add
                        </button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Smoothies -->
    <div class="smoothies u-margin-bottom-medium">
        <figure class="smoothies__figure">
            <img src="/images/smoothie.jpg" class="smoothies__image" alt="Smoothies image">

            <figcaption class="smoothies__heading u-center-text u-margin-bottom-medium">Smoothies</figcaption>
        </figure>

        <table class="drinks">
            <% for (let i = 0; i < smoothies.length; i++) { %>
                <% let currentSmoothie = smoothies[i] %>

                <tr class="drinks__item">
                    <td class="drinks__name"><%= currentSmoothie.name %></td>

                    <td class="drinks__price">&pound;<%= penceToPounds(currentSmoothie.price) %></td>

                    <td class="drinks__action">
                        <button
                            id="<%= currentSmoothie.id %>"
                            class="button button__product-add"
                            data-product-add
                        >
                            Add
                        </button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Beer -->
    <div class="beer u-margin-bottom-medium">
        <figure class="beer__figure">
            <img src="/images/beer.jpg" class="beer__image" alt="Beer image">

            <figcaption class="beer__heading u-center-text u-margin-bottom-medium">Beer</figcaption>
        </figure>

        <table class="drinks">
            <% for (let i = 0; i < beer.length; i++) { %>
                <% let currentBeer = beer[i] %>

                <tr class="drinks__item">
                    <td class="drinks__name"><%= currentBeer.name %></td>

                    <td class="drinks__price">&pound;<%= penceToPounds(currentBeer.price) %></td>

                    <td class="drinks__action">
                        <button
                            id="<%= currentBeer.id %>"
                            class="button button__product-add"
                            data-product-add
                        >
                            Add
                        </button>
                    </td>
                </tr>

            <% } %>
        </table>
    </div>

    <!-- Coffee -->
    <div class="coffee u-margin-bottom-medium">
        <figure class="coffee__figure">
            <img src="/images/coffee.jpg" class="coffee__image" alt="Coffee image">

            <figcaption class="coffee__heading u-center-text u-margin-bottom-medium">Coffee</figcaption>
        </figure>

        <table class="drinks">
            <% for (let i = 0; i < coffee.length; i++) { %>
                <% let currentCoffee = coffee[i] %>

                <tr class="drinks__item">
                    <td class="drinks__name"><%= currentCoffee.name %></td>

                    <td class="drinks__price">&pound;<%= penceToPounds(currentCoffee.price) %></td>

                    <td class="drinks__action">
                        <button
                            id="<%= currentCoffee.id %>"
                            class="button button__product-add"
                            data-product-add
                        >
                            Add
                        </button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <div class="section-drinks__link-container">
        <a href="/basket" class="section-drinks__link">Go to basket &rarr;</a>
    </div>
</div>

<!-- Add the JS script files in a CHRONOLOGICAL ORDER!!! -->
<script src="/js/utilityFunctions.js"></script>
<script src="/js/addItem.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/toastify.js"></script>
