<div class="section-menu u-center-text">
    <h1 class="section-menu__heading u-margin-bottom-medium">Menu</h1>

    <p class="section-menu__caption u-text-italic u-margin-bottom-medium">Click on the image to see more info about the dish.</p>

    <div class="food u-margin-bottom-medium">
        <% for (let i = 0; i < items.length; i++) { %>
            <% let currentItem = items[i] %>

            <div class="food__item u-margin-bottom-medium">
                <a href="/menu/food-info/<%= currentItem.slug %>">
                    <img src="<%= currentItem.image %>" class="food__image u-margin-bottom-small" alt="<% currentItem.alt %>" width="250" height="150" />
                </a>

                <h3 class="food__name u-margin-bottom-small">
                    <a href="/menu/food-info/<%= currentItem.slug %>" class="food__link">
                        <%= currentItem.name %>
                    </a>
                </h3>

                <!-- Display the prices in pounds -->
                <p class="food__price u-margin-bottom-medium">price:
                    <span class="food__price-number">
                        &pound;<%= penceToPounds(currentItem.price) %>
                    </span>
                </p>

                <button
                    class="button button__product-add"
                    id="<%= currentItem.id %>"
                    data-product-add
                >
                    Add
                </button>
            </div>
        <% } %>
    </div>

    <a href="/basket" class="section-menu__link">Go to basket &rarr;</a>
</div>

<!-- Add the JS script files in a CHRONOLOGICAL ORDER!!! -->
<script src="/js/utilityFunctions.js"></script>
<script src="/js/addItem.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/toastify.js"></script>
