<div class="food-info u-center-text u-margin-bottom-small">
    <h2 class="food-info__name u-margin-bottom-small"><%= foodItem.name %></h2>

    <img src="<%= foodItem.image %>" class="food-info__image" alt="<%= foodItem.alt %>" width="250" height="150" />

    <p class="food-info__description u-margin-bottom-medium"><%= foodItem.description %></p>

    <div class="allergy">
        <h3 class="allergy__heading u-margin-bottom-small">Allergy info</h3>

        <p class="allergy__description u-margin-bottom-small">This dish contains the following allergens:</p>

        <div class="allergy__allergens u-margin-bottom-medium"><%= foodItem.allergens.join(", ") %></div>
    </div>

    <button
    class="button button__product-add u-margin-bottom-medium"
    id="<%= foodItem.id %>"
    data-product-add
    >
        Add
    </button>

    <div>
        <a href="/menu/food" class="food-info__link">&larr; Back to the menu</a>
    </div>
</div>

<!-- Add the JS script files in a CHRONOLOGICAL ORDER!!! -->
<script src="/js/utilityFunctions.js"></script>
<script src="/js/addItem.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/toastify.js"></script>
