<div class="section-introduction u-center-text">
    <h1 class="introduction" id="greeting-heading">
        <span class="introduction__text u-margin-bottom-small">Welcome</span>
        <span class="introduction__text u-margin-bottom-small">to</span>
        <span class="introduction__text">Noodlemania!</span>
    </h1>

    <p class="introduction__caption u-text-italic u-margin-bottom-big">Feeling manically hungry?</p>

    <div class="introduction__button-wrap">
        <a href="/menu/food" class="button introduction__button">See our menu</a>
    </div>
</div>

<!-- <script src="/js/cookie.js"></script> -->
