<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/images/icon.jpg" />
        <link href="/css/css/all.css" rel="stylesheet"> <!--load all styles -->

        <title><%= pageTitle %></title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <!-- CSS stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/styles.css">

        <!-- Toastify -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    </head>

    <body>
        <header class="u-center-text">
            <%- include("includes/navigation") %>

            <div class="logo">
                <a href="/"><img src="<%= logo %>" class="logo__icon" alt="Logo" /></a>

                <h1 class="logo__caption"><a href="/" class="logo__link">Noodlemania</a></h1>
            </div>
        </header>

        <main>
            <%- include(content) %>
        </main>
    </body>
</html>

<script src="/js/navigation.js"></script>
