<div class="message u-center-text">
    <h2 class="message__heading u-margin-bottom-big">
        Thank you for contacting us,
        <span class="message__sender"><%= sender %></span>!
    </h2>

    <div class="message__icon u-margin-bottom-big">
        <i class="far fa-envelope"></i>
    </div>

    <p class="u-margin-bottom-big">Your message contains the following:</p>

    <p class="message__text u-margin-bottom-big"><%= message %></p>

</div>
