<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/images/icon.jpg" />
        <link href="/css/css/all.css" rel="stylesheet"> <!--load all styles -->

        <title><%= pageTitle %></title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <!-- CSS stylesheet -->
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <header class="u-center-text">
            <div class="logo logo-payment">
                <a href="/"><img src="<%= logo %>" class="logo__icon" alt="Logo" /></a>

                <h1 class="logo__caption"><a href="/" class="logo__link">Noodlemania</a></h1>
            </div>
        </header>

        <div class="payment u-center-text">
            <h2 class="payment__heading u-margin-bottom-big">
                Your payment has been processed,
                <span class="payment__name"><%= name %></span>!
            </h2>

            <p class="u-margin-bottom-big">Thank you for your order!</p>

            <p class="u-margin-bottom-big">Enjoy your meal!</p>

            <div class="payment__icon u-margin-bottom-big">
                <i class="far fa-heart"></i>
            </div>

            <a href="/" class="payment__link">Back to Noodlemania</a>
        </div>
    </body>
</html>

<script src="/js/navigation.js"></script>
