/***** MEDIA QUERY MANAGER *****/
/*
[0 - 600px          Mobile phone - this is where our default styles apply]
600 - 900px         Tablet portrait
900 - 1200px        Tablet landscape
1200 - 1800px       Desktop computer
1800px +            Big desktop computer

$breakpoint argument choices:
- tablet-portrait
- tablet-landscape
- desktop
- desktop-big

1 em = 16px

min-width = minimum width at which a media query starts to apply
max-width = the maximum width at which a media query still applies

ORDER:
base & typography > general layout & grid > page layout > components
*/
/* 16px, used across the website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  /* root font size set in the html selector */
  /* 10px because 1rem  = 10px */
  font-size: 62.5%;
  /* root font size of 10px / default font size of 16px */ }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 64em) {
    html {
      font-size: 60%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

*,
*::after,
*::before {
  /* includes all after and before pseudo-elements */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* forces inheritance */ }

body {
  padding: 3rem;
  background-color: #333;
  color: #F5F5F5; }
  @media only screen and (min-width: 75em) {
    body {
      width: 80%;
      margin: 0 auto; } }
  @media only screen and (min-width: 112.5em) {
    body {
      width: 70%;
      margin: 0 auto; } }

main {
  width: inherit;
  margin: 0 auto; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

.logo__caption {
  font-family: "Sacramento", cursive;
  font-size: 5rem; }
  @media only screen and (min-width: 112.5em) {
    .logo__caption {
      margin-bottom: 5rem; } }

.introduction__text {
  font-size: 3rem;
  letter-spacing: 2px; }
  @media only screen and (min-width: 75em) {
    .introduction__text {
      display: inline !important;
      letter-spacing: 4px; }
      .introduction__text:not(:last-child) {
        margin-right: 1rem; } }

.introduction__caption {
  letter-spacing: 1px; }
  @media only screen and (min-width: 75em) {
    .introduction__caption {
      margin-bottom: 0 !important; } }

.food__name {
  font-family: "Sacramento", cursive; }

.food__link {
  font-size: 3rem;
  color: #b7c393 !important; }

.soft-drinks__heading,
.smoothies__heading,
.beer__heading,
.coffee__heading {
  font-family: "Sacramento", cursive;
  font-size: 3rem; }

.info {
  /* on the Contact Us page */ }
  .info__detail {
    color: #b7c393;
    font-size: 1.8rem; }

.u-center-text {
  text-align: center; }

.u-text-italic {
  font-style: italic; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.button {
  display: inline-block;
  /* box-model applies to it */
  text-decoration: none;
  /* no underline */
  text-transform: uppercase;
  border-radius: 10rem;
  border: none; }

.introduction__button-wrap {
  text-align: center; }

.introduction__button {
  padding: 1.5rem;
  letter-spacing: 2px;
  background-color: #b7c393;
  color: #333;
  width: 15rem; }

.button__product-add, .button__product-subtract {
  padding: .6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 1px;
  cursor: pointer; }
  .button__product-add:hover, .button__product-subtract:hover {
    background-color: #b7c393;
    color: #333;
    transition-duration: .6s; }

.form__button {
  padding: 1.5rem;
  letter-spacing: 2px;
  background-color: #b7c393;
  color: #333;
  cursor: pointer; }

.food__image {
  border-radius: 1rem; }
  @media only screen and (min-width: 48em) {
    .food__image {
      box-shadow: 8px 7px 16px 2px rgba(0, 0, 0, 0.3); } }

.food__link {
  text-decoration: none;
  color: #F5F5F5; }

@media only screen and (min-width: 48em) {
  .food__item:last-child {
    margin-bottom: 4rem; } }

.drinks {
  width: 100%;
  /* the table spans the entire screen size */ }
  .drinks__name {
    text-align: left;
    width: 33.33%;
    padding-bottom: 2rem; }
  .drinks__price {
    text-align: center;
    padding-bottom: 2rem;
    width: 33.33%; }
  .drinks__action {
    text-align: end;
    padding-bottom: 2rem;
    width: 33.33%; }

.soft-drinks__figure {
  position: relative;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 75em) {
    .soft-drinks__figure {
      margin-bottom: 3rem; } }

.soft-drinks__image {
  filter: blur(2px) brightness(80%);
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 150px; }
  @media only screen and (min-width: 48em) {
    .soft-drinks__image {
      box-shadow: 8px 7px 16px 2px rgba(0, 0, 0, 0.3);
      width: 50%;
      height: auto; } }

.soft-drinks__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.smoothies__figure {
  position: relative;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 75em) {
    .smoothies__figure {
      margin-bottom: 3rem; } }

.smoothies__image {
  filter: blur(2px) brightness(80%);
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 150px; }
  @media only screen and (min-width: 48em) {
    .smoothies__image {
      box-shadow: 8px 7px 16px 2px rgba(0, 0, 0, 0.3);
      width: 50%;
      height: auto; } }

.smoothies__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.beer__figure {
  position: relative;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 75em) {
    .beer__figure {
      margin-bottom: 3rem; } }

.beer__image {
  filter: blur(2px) brightness(80%);
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 150px; }
  @media only screen and (min-width: 48em) {
    .beer__image {
      box-shadow: 8px 7px 16px 2px rgba(0, 0, 0, 0.3);
      width: 50%;
      height: auto; } }

.beer__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.coffee__figure {
  position: relative;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 75em) {
    .coffee__figure {
      margin-bottom: 3rem; } }

.coffee__image {
  filter: blur(2px) brightness(80%);
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 150px; }
  @media only screen and (min-width: 48em) {
    .coffee__image {
      box-shadow: 8px 7px 16px 2px rgba(0, 0, 0, 0.3);
      width: 50%;
      height: auto; } }

.coffee__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media only screen and (min-width: 64em) {
  .form {
    width: 60%;
    margin: 0 auto; } }

@media only screen and (min-width: 75em) {
  .form {
    width: 60%;
    margin: 0 auto; } }

@media only screen and (min-width: 112.5em) {
  .form {
    width: 50%;
    margin: 0 auto; } }

.form__label {
  display: inline-block;
  letter-spacing: 1px; }

.form__input {
  display: block;
  width: 95%;
  padding: .8rem;
  background-color: #b7c393;
  color: #333;
  border-radius: 1rem;
  border: none; }

.form__expiry-date {
  font-family: "Roboto", sans-serif; }

.form__textarea {
  width: 95%;
  padding: .8rem;
  background-color: #b7c393;
  color: #333;
  border-radius: 1rem;
  border: none;
  font-family: inherit; }

.form__button-wrap {
  text-align: center; }

.shopping-basket {
  padding: .8rem; }
  @media only screen and (min-width: 75em) {
    .shopping-basket {
      margin-right: 1.6rem; } }
  .shopping-basket__icon {
    color: #b7c393;
    font-size: 2.5rem;
    margin-right: .5rem; }
  .shopping-basket__counter {
    font-size: 2rem;
    color: #b7c393; }

.toast {
  font: "Roboto", sans-serif;
  color: #333 !important;
  letter-spacing: 1px; }

.item {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 1rem; }
  @media only screen and (min-width: 48em) {
    .item {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0; } }
  .item__image {
    display: block;
    width: 100%;
    border-radius: 1rem;
    min-height: 10rem; }
    @media only screen and (min-width: 48em) {
      .item__image {
        box-shadow: 8px 7px 16px 2px rgba(0, 0, 0, 0.3); } }
    @media only screen and (min-width: 48em) {
      .item__image {
        width: 80%; } }
    @media only screen and (min-width: 75em) {
      .item__image {
        width: 60%; } }
  .item__image-drink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    min-height: 10rem; }
    @media only screen and (min-width: 48em) {
      .item__image-drink {
        margin-right: 7rem; } }
    @media only screen and (min-width: 75em) {
      .item__image-drink {
        margin-right: 15rem; } }
  .item__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (min-width: 48em) {
      .item__details {
        justify-content: space-evenly; } }
    @media only screen and (min-width: 75em) {
      .item__details {
        width: 75%; } }
  .item__quantity-options {
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center; }
  .item__name {
    display: block;
    color: #b7c393;
    font-size: 1.7rem; }

.drink {
  width: 100%;
  /* the table spans the entire screen size */ }
  .drink__name {
    text-align: left;
    width: 33.33%; }
  .drink__price {
    text-align: center;
    width: 33.33%; }
  .drink__action {
    text-align: end;
    width: 33.33%; }

.total-price {
  text-align: end; }
  .total-price__caption {
    letter-spacing: 2px; }
  .total-price__amount {
    font-size: 2rem;
    color: #b7c393; }

header {
  width: inherit;
  margin: 0 auto; }
  @media only screen and (min-width: 48em) {
    header {
      margin-bottom: 2rem; } }

.logo__icon {
  width: 30%; }
  @media only screen and (min-width: 48em) {
    .logo__icon {
      width: 15rem; } }
  @media only screen and (min-width: 64em) {
    .logo__icon {
      width: 15rem; } }
  @media only screen and (min-width: 75em) {
    .logo__icon {
      width: 15rem;
      margin-bottom: 2rem; } }
  @media only screen and (min-width: 112.5em) {
    .logo__icon {
      width: 15rem;
      margin-bottom: 2rem; } }

.logo__caption {
  margin-top: 1rem; }

.logo__link {
  text-decoration: none;
  color: #F5F5F5; }

.navigation__quick-nav {
  display: flex;
  justify-content: space-between; }
  @media only screen and (min-width: 75em) {
    .navigation__quick-nav {
      justify-content: flex-end;
      margin-bottom: 2rem; } }

.navigation__burger-menu {
  font-size: 4rem;
  color: #b7c393;
  margin-left: 1rem;
  cursor: pointer; }
  @media only screen and (min-width: 75em) {
    .navigation__burger-menu {
      display: none; } }

.navigation__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b7c393;
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  /* The left-to-right sliding effect */
  transform: translate(-100vw, 0);
  transition: transform 0.8s cubic-bezier(0, 0.52, 0, 1); }
  @media only screen and (min-width: 75em) {
    .navigation__container {
      position: static;
      background-color: #333;
      width: 100%;
      height: 10%;
      transform: translate(0, 0);
      transition: none; } }

.navigation__container--visible {
  transform: translate(0vw, 0); }

.navigation__exit-button-container {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4rem; }
  @media only screen and (min-width: 75em) {
    .navigation__exit-button-container {
      display: none; } }

.navigation__exit-button {
  font-size: 4.5rem;
  color: #444;
  cursor: pointer;
  margin-top: -4rem;
  margin-right: -1rem; }

.navigation__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  height: 60%;
  padding: 5% 0; }
  @media only screen and (min-width: 75em) {
    .navigation__links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2rem; } }

.navigation__link {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2rem;
  cursor: pointer; }
  @media only screen and (min-width: 75em) {
    .navigation__link {
      transition: .7s;
      border-bottom: 1px solid transparent;
      padding-bottom: 3px; } }
  @media only screen and (min-width: 75em) {
    .navigation__link:hover {
      border-bottom: 1px solid #b7c393; } }
  .navigation__link:active {
    color: #b7c393; }
  @media only screen and (min-width: 75em) {
    .navigation__link {
      color: #b7c393; } }

.navigation__link--current {
  text-decoration: none;
  color: #F5F5F5;
  font-size: 2.1rem;
  letter-spacing: 4px; }

.section-introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh; }
  @media only screen and (min-width: 75em) {
    .section-introduction {
      height: 30vh; } }
  @media only screen and (min-width: 112.5em) {
    .section-introduction {
      height: 30vh; } }

.introduction {
  margin: 4rem 0; }
  @media only screen and (min-width: 75em) {
    .introduction {
      margin: 0; } }
  .introduction__text {
    display: block; }

.about {
  line-height: 3rem; }
  @media only screen and (min-width: 75em) {
    .about {
      width: 90%;
      margin: 0 auto; } }
  @media only screen and (min-width: 75em) {
    .about {
      width: 80%;
      margin: 0 auto; } }
  @media only screen and (min-width: 112.5em) {
    .about {
      width: 80%;
      margin: 0 auto; } }
  .about__text {
    text-align: center; }
  .about__owner {
    display: block;
    letter-spacing: 3px;
    padding: 1rem 0;
    font-size: 2rem; }
  .about__link {
    text-decoration: none;
    color: #b7c393; }

ul, li {
  list-style-type: none; }

.coloured {
  color: #b7c393; }

.indented {
  margin-left: 2rem; }

@media only screen and (min-width: 48em) {
  .section-menu__caption {
    margin-bottom: 4rem; } }

.section-menu__link {
  text-decoration: none;
  color: #b7c393;
  text-transform: uppercase;
  letter-spacing: 4px; }

@media only screen and (min-width: 64em) {
  .food {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media only screen and (min-width: 75em) {
  .food {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media only screen and (min-width: 112.5em) {
  .food {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; } }

.food-info__name {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  color: #b7c393; }
  @media only screen and (min-width: 48em) {
    .food-info__name {
      margin-bottom: 4rem; } }

.food-info__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 1rem; }
  @media only screen and (min-width: 48em) {
    .food-info__image {
      box-shadow: 8px 7px 16px 2px rgba(0, 0, 0, 0.3); } }

.food-info__link {
  text-decoration: none;
  color: #F5F5F5;
  text-transform: uppercase;
  letter-spacing: 4px; }

.allergy__allergens {
  color: #b7c393; }

@media only screen and (min-width: 48em) {
  .section-drinks {
    width: 85%;
    margin: 0 auto; } }

@media only screen and (min-width: 75em) {
  .section-drinks {
    width: 80%;
    margin: 0 auto; } }

@media only screen and (min-width: 112.5em) {
  .section-drinks {
    width: 80%;
    margin: 0 auto; } }

.section-drinks__link-container {
  text-align: center; }
  @media only screen and (min-width: 112.5em) {
    .section-drinks__link-container {
      margin: 2rem; } }

@media only screen and (min-width: 75em) {
  .section-drinks__link-container {
    margin-top: 2rem; } }

.section-drinks__link {
  text-align: center;
  text-decoration: none;
  color: #b7c393;
  text-transform: uppercase;
  letter-spacing: 4px; }

@media only screen and (min-width: 75em) {
  .drinks-heading {
    margin-bottom: 4rem; } }

@media only screen and (min-width: 48em) {
  .section-contact-us {
    width: 90%;
    margin: 0 auto; } }

@media only screen and (min-width: 64em) {
  .section-contact-us {
    width: 60%;
    margin: 0 auto; } }

@media only screen and (min-width: 75em) {
  .section-contact-us {
    width: 60%;
    margin: 0 auto; } }

@media only screen and (min-width: 112.5em) {
  .section-contact-us {
    width: 50%;
    margin: 0 auto; } }

.error-message {
  list-style-type: none;
  margin-top: .5rem;
  font-style: italic;
  color: #ffb6c1; }

@media only screen and (min-width: 75em) {
  .basket {
    width: 90%;
    margin: 0 auto; } }

@media only screen and (min-width: 75em) {
  .basket-heading {
    margin-bottom: 4rem; } }

.checkout-link {
  text-decoration: none;
  color: #b7c393;
  text-transform: uppercase;
  letter-spacing: 4px; }

@media only screen and (min-width: 48em) {
  .section-checkout {
    width: 90%;
    margin: 0 auto; } }

.basket__item-name {
  color: #b7c393;
  font-size: 2rem; }

.payment__heading {
  margin-top: 2rem; }

.payment__name {
  color: #b7c393; }

.payment__icon {
  font-size: 5rem;
  display: block; }

.payment__link {
  text-decoration: none;
  color: #F5F5F5;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #b7c393; }

.logo-payment {
  margin-top: 4rem; }

.message__heading {
  margin-top: 2rem; }

.message__sender {
  color: #b7c393; }

.message__icon {
  font-size: 4rem; }

.message__text {
  color: #b7c393; }
