.item {

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 1rem;

    @include respond(tablet-portrait) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
    }

    &__image {
        display: block;
        width: 100%;
        border-radius: 1rem;
        min-height: 10rem;

        @include respond(tablet-portrait) {
            box-shadow: 8px 7px 16px 2px rgba(0,0,0,0.3);
        }

        @include respond(tablet-portrait) {
            width: 80%;
        }

        @include respond(desktop) {
            width: 60%;
        }
    }

    &__image-drink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        min-height: 10rem;

        @include respond(tablet-portrait) {
            margin-right: 7rem;
        }

        @include respond(desktop) {
            margin-right: 15rem;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond(tablet-portrait) {
            justify-content: space-evenly;
        }

        @include respond(desktop) {
            width: 75%;
        }
    }

    &__quantity-options {
        display: flex;
        justify-content: space-between;
        width: 75%;
        align-items: center;
    }

    &__name {
        display: block;
        color: $color-green;
        font-size: 1.7rem;
    }
}

.drink {

        width: 100%; /* the table spans the entire screen size */

    &__name {
        text-align: left;
        width: 33.33%;
    }

    &__price {
        text-align: center;
        width: 33.33%;
    }

    &__action {
        text-align: end;
        width: 33.33%;
    }
}
