.button {
    display: inline-block; /* box-model applies to it */
    text-decoration: none; /* no underline */
    text-transform: uppercase;
    border-radius: 10rem;
    border: none;
}

.introduction__button-wrap {
    text-align: center;
}

.introduction__button {
    padding: 1.5rem;
    letter-spacing: 2px;
    background-color: $color-green;
    color: $color-primary-dark;
    width: 15rem;
}

.button__product-add, .button__product-subtract {
    padding: .6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
        background-color: #b7c393;
        color: $color-primary-dark;
        transition-duration: .6s;
    }
}

.form__button {
    padding: 1.5rem;
    letter-spacing: 2px;
    background-color: $color-green;
    color: $color-primary-dark;
    cursor: pointer;
}
