.drinks {

    width: 100%; /* the table spans the entire screen size */

    &__name {
        text-align: left;
        width: 33.33%;
        padding-bottom: 2rem;
    }

    &__price {
        text-align: center;
        padding-bottom: 2rem;
        width: 33.33%;
    }

    &__action {
        text-align: end;
        padding-bottom: 2rem;
        width: 33.33%;
    }
}
