.soft-drinks {

    &__figure {
        position: relative;
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;

        @include respond(desktop) {
            margin-bottom: 3rem;
        }
    }

    &__image {
        filter: blur(2px) brightness(80%);
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 150px;

        @include respond(tablet-portrait) {
            box-shadow: 8px 7px 16px 2px rgba(0,0,0,0.3);
            width: 50%;
            height: auto;
        }
    }

    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.smoothies {

    &__figure {
        position: relative;
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;

        @include respond(desktop) {
            margin-bottom: 3rem;
        }
    }

    &__image {
        filter: blur(2px) brightness(80%);
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 150px;

        @include respond(tablet-portrait) {
            box-shadow: 8px 7px 16px 2px rgba(0,0,0,0.3);
            width: 50%;
            height: auto;
        }
    }

    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.beer {

    &__figure {
        position: relative;
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;

        @include respond(desktop) {
            margin-bottom: 3rem;
        }
    }

    &__image {
        filter: blur(2px) brightness(80%);
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 150px;

        @include respond(tablet-portrait) {
            box-shadow: 8px 7px 16px 2px rgba(0,0,0,0.3);
            width: 50%;
            height: auto;
        }
    }

    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.coffee {

    &__figure {
        position: relative;
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;

        @include respond(desktop) {
            margin-bottom: 3rem;
        }
    }

    &__image {
        filter: blur(2px) brightness(80%);
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 150px;

        @include respond(tablet-portrait) {
            box-shadow: 8px 7px 16px 2px rgba(0,0,0,0.3);
            width: 50%;
            height: auto;
        }
    }

    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
