.food {

    &__image {

        border-radius: 1rem;

        @include respond(tablet-portrait) {
            box-shadow: 8px 7px 16px 2px rgba(0,0,0,0.3);
        }
    }

    &__link {
        text-decoration: none;
        color: $color-primary-light;
    }

    &__item {

        @include respond(tablet-portrait) {
            &:last-child {
                margin-bottom: 4rem;
            }
        }
    }
}
