.form {

    @include respond(tablet-landscape) {
        width: 60%;
        margin: 0 auto;
    }

    @include respond(desktop) {
        width: 60%;
        margin: 0 auto;
    }

    @include respond(desktop-big) {
        width: 50%;
        margin: 0 auto;
    }

    &__label {
        display: inline-block;
        letter-spacing: 1px;
    }

    &__input {
        display: block;
        width: 95%;
        padding: .8rem;
        background-color: $color-green;
        color: $color-primary-dark;
        border-radius: 1rem;
        border: none;
    }

    &__expiry-date {
        font-family: $font-default;
    }

    &__textarea {
        width: 95%;
        padding: .8rem;
        background-color: $color-green;
        color: $color-primary-dark;
        border-radius: 1rem;
        border: none;
        font-family: inherit;
    }

    &__button-wrap {
        text-align: center;
    }
}
