.shopping-basket {

    padding: .8rem;

    @include respond(desktop) {
        margin-right: 1.6rem;
    }

    &__icon {
        color: $color-green;
        font-size: 2.5rem;
        margin-right: .5rem;
    }

    &__counter {
        font-size: 2rem;
        color: $color-green;
    }
}
