* {
    @include universal-styles;
}

html {
    /* root font size set in the html selector */
    /* 10px because 1rem  = 10px */
    font-size: 62.5%; /* root font size of 10px / default font size of 16px */

    @include respond(tablet-portrait) {
        font-size: 65%; // 1 rem = 10.4px, 10.4/16 = 65%
    }

    @include respond(tablet-landscape) {
        font-size: 60%; // 1 rem = 11.2px, 11.2/16 = 70%
    }

    @include respond(desktop) {
        font-size: 65%; // 1 rem = 12px, 12/16 = 75%
    }

    @include respond(desktop-big) {
        font-size: 80%; // 1 rem = 12.8px, 12.8/16 = 80%
    }
}

*,
*::after,
*::before { /* includes all after and before pseudo-elements */
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* forces inheritance */
}

body {
    padding: 3rem;
    background-color: $color-primary-dark;
    color: $color-primary-light;

    @include respond(desktop) {
       width: 80%;
       margin: 0 auto;
    }

    @include respond(desktop-big) {
       width: 70%;
       margin: 0 auto;
    }
}

main {
    width: inherit;
    margin: 0 auto;
}
