body {
    font-family: $font-default;
    font-size: $font-size-default;
}

.logo__caption {
    font-family: $font-logo;
    font-size: 5rem;

    @include respond(desktop-big) {
        margin-bottom: 5rem;
    }
}

.introduction {

    &__text {
        font-size: 3rem;
        letter-spacing: 2px;

        @include respond(desktop) {
            display: inline !important;
            letter-spacing: 4px;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    &__caption {
        letter-spacing: 1px;

        @include respond(desktop) {
            margin-bottom: 0 !important;
        }
    }
}

.food__name {
    font-family: $font-logo;
}

.food__link {
    font-size: 3rem;
    color: $color-green !important;
}

.soft-drinks__heading,
.smoothies__heading,
.beer__heading,
.coffee__heading {
    font-family: $font-logo;
    font-size: 3rem;
}

.info { /* on the Contact Us page */

    &__detail {
        color: $color-green;
        font-size: 1.8rem;
    }
}
