.u-center-text {
    text-align: center;
}

.u-text-italic {
    font-style: italic;
}

.u-margin-bottom-small {
    margin-bottom: 1rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-bottom-big {
    margin-bottom: 4rem;
}

// .u-margin-top-big {
//     margin-top: 8rem;
// }

// .u-margin-top-huge {
//     margin-top: 10rem;
// }
