.about {

    line-height: 3rem;

    @include respond(desktop) {
        width: 90%;
        margin: 0 auto;
    }

    @include respond(desktop) {
        width: 80%;
        margin: 0 auto;
    }

    @include respond(desktop-big) {
        width: 80%;
        margin: 0 auto;
    }

    &__text {
        text-align: center;
    }

    &__owner {
        display: block;
        letter-spacing: 3px;
        padding: 1rem 0;
        font-size: 2rem;
    }

    &__link {
        text-decoration: none;
        color: $color-green;
    }
}

ul, li {
 list-style-type: none;
}

.coloured {
    color: $color-green;
}

.indented {
    margin-left: 2rem;
}
