.basket {

    @include respond(desktop) {
        width: 90%;
        margin: 0 auto;
    }
}

.basket-heading {

    @include respond(desktop) {
        margin-bottom: 4rem;
    }
}

.checkout-link {
    text-decoration: none;
    color: $color-green;
    text-transform: uppercase;
    letter-spacing: 4px;
}
