.section-checkout {

    @include respond(tablet-portrait) {
        width: 90%;
        margin: 0 auto;
    }
}

.basket {

    &__item-name {
        color: $color-green;
        font-size: 2rem;
    }
}
