.section-contact-us {
    @include respond(tablet-portrait) {
        width: 90%;
        margin: 0 auto;
    }

    @include respond(tablet-landscape) {
        width: 60%;
        margin: 0 auto;
    }

    @include respond(desktop) {
        width: 60%;
        margin: 0 auto;
    }

    @include respond(desktop-big) {
        width: 50%;
        margin: 0 auto;
    }
}

.error-message {
    list-style-type: none;
    margin-top: .5rem;
    font-style: italic;
    color: $color-pink;
}
