.section-drinks {

    @include respond(tablet-portrait) {
        width: 85%;
        margin: 0 auto;
    }

    @include respond(desktop) {
        width: 80%;
        margin: 0 auto;
    }

    @include respond(desktop-big) {
        width: 80%;
        margin: 0 auto;
    }

    &__link-container {
        text-align: center;

        @include respond(desktop-big) {
            margin: 2rem;
        }
    }

    &__link-container {

        @include respond(desktop) {
            margin-top: 2rem;
        }
    }

    &__link {
        text-align: center;
        text-decoration: none;
        color: $color-green;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}

.drinks-heading {

    @include respond(desktop) {
        margin-bottom: 4rem;
    }
}
