.food-info {

    &__name {
        font-family: $font-logo;
        font-size: 3rem;
        color: $color-green;

        @include respond(tablet-portrait) {
            margin-bottom: 4rem;
        }
    }

    &__image {
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
        border-radius: 1rem;

        @include respond(tablet-portrait) {
            box-shadow: 8px 7px 16px 2px rgba(0,0,0,0.3);
        }
    }

    &__link {
        text-decoration: none;
        color: $color-primary-light;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}

.allergy {

    &__allergens {
        color: $color-green;
    }
}
