.section-menu {

    &__caption {

        @include respond(tablet-portrait) {
            margin-bottom: 4rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-green;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}

.food {

    @include respond(tablet-landscape) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @include respond(desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @include respond(desktop-big) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
