.section-introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;

    @include respond(desktop) {
        height: 30vh;
    }

    @include respond(desktop-big) {
        height: 30vh;
    }
}

.introduction {

    margin: 4rem 0;

    @include respond(desktop) {
        margin: 0;
    }

    &__text {
        display: block;
    }
}
