.message {

    &__heading {
        margin-top: 2rem;
    }

    &__sender {
        color: $color-green;
    }

    &__icon {
        font-size: 4rem;
    }

    &__text {
        color: $color-green;
    }
}
