.payment {

    &__heading {
        margin-top: 2rem;
    }

    &__name {
        color: $color-green;
    }

    &__icon {
        font-size: 5rem;
        display: block;
    }

    &__link {
        text-decoration: none;
        color: #F5F5F5;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $color-green;
    }
}

.logo-payment {
    margin-top: 4rem;
}
